<h1>My Address Book</h1>
<p>Please enter your contact to my address book using the form below:</p>
<form action="/address_added" method="post">
  <div class="form-group">
    <label for="new-fullName">Fist & LastName</label>
    <input type="text" name="new-fullName" id="new-fullName" class="form-control">
  </div>
  <div class="form-group">
    <label for="new-homeAddress">Year</label>
    <input type="text" name="new-homeAddress" id="new-homeAddress" class="form-control">
  </div>
  <div class="form-group">
    <label for="new-phoneNumber">Price</label>
    <input type="text" name="new-phoneNumber" id="new-phoneNumber" class="form-control">
  </div>
  <button type="submit">Submit</button>
</form>
