<div class="container">
  <h1>My Address Book</h1>
  <p>Your address has been successfully added to our address book!</p>
  <p>@Model.GetFullName()</p>
  <p>HomeAddress: @Model.GetHomeAddress()</p>
  <p>PhoneNumber: @Model.GetPhoneNumber()</p>
  <p><a href="/add_address">Add a New Address</a></p>
  <p><a href="/address_list">View All Addresses</a></p>
</div>
