<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>Address Book</title>
	</head>
	<body>
    <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>My Address Book</h1><br>
					<p>Here is your selected contact information:</p>

					@foreach(var addressInstance in Model)
					{
						<p>
							<strong>@addressInstance.GetFullName()</strong>
						</p>
						<p>
							HomeAddress: @addressInstance.GetHomeAddress()
						</p>

						<p>
							PhoneNumber: @addressInstance.GetPhoneNumber()
						</p>
					}
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-md-4">
					<p><a href="/">Add a New Address</a></p>
				</div>
				<div class="col-md-4">
					<p><a href="/address_book">View All Addresses</a></p><br>
				</div>

				<form action="/cleared_book" method="post">
					<button type="submit">Clear Address Book</button>
				</form>
			</div>

    </div>
  </body>
</html>
